In [85]:
import pandas as pd
import numpy as np
pd.options.display.max_columns=None

In [86]:
df_adalab = pd.read_csv('archivos_resultantes/archivo_unificado_limpio.csv',index_col=0)

In [87]:
df_adalab.head(2)

,id_survey,time,age,gender,country,studies,position,years_programming,preferred_language,computing_platform,times_use_tpu,years_use_ml,industry,company_size,da_employees,company_ml,year_salary,investment_ml,main_bd,main_bi,main_da,programming_languages,ide,hardware,visualization,ml_tools,ml_algorithm,duties,bd_a,bi,best_cloud_services,notebooks,computer_vision,nlp,cloud_platforms_a,cloud_product_a,data_storage_products_a,ml_products_a,automated_ml_tools_a,regular_automl_a,ml_experiments_a,sharing,courses,media,cloud_platforms_b,cloud_products_b,data_storage_products_b,ml_products_b,bd_b,bi_b,automated_ml_tools_b,regular_automl_b,ml_experiments_b
0,0,910,50-54,Man,India,Bachelor’s degree,Other,NaN,Python,A laptop,2-5 times,5-10,Manufacturing/Fabrication,Small,3-4,No,"25,000-29,999",100-999,NaN,NaN,Local development environments,"Python, R",Vim / Emacs,Google Cloud TPUs,"Matplotlib ,Seaborn ,Ggplot / ggplot2 ,Shiny ,...","Scikit-learn , TensorFlow ,Caret","Linear or Logistic Regression, Decision Trees ...",None of these activities are an important part...,PostgreSQL,NaN,NaN,Colab Notebooks,General purpose image/video tools,Word embeddings/vectors,Google Cloud Platform,Google Cloud Compute Engine,Google Cloud Storage,No / None,No / None,NaN,No / None,"GitHub , Kaggle","Coursera,edX,Kaggle Learn Courses,DataCamp,Uda...","Email newsletters ,Kaggle ,YouTube ,Podcasts ,...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,784,50-54,Man,Indonesia,Master’s degree,Program/Project Manager,NaN,Python,A cloud computing platform,Never,< 1,Manufacturing/Fabrication,Large,1-2,Exploring,"60,000-69,999",0,NaN,NaN,Advanced statistical software,"SQL, C, C++, Java","Notepad++,Jupyter Notebook",NaN,Matplotlib,Scikit-learn,"Linear or Logistic Regression, Decision Trees ...",Build and/or run the data infrastructure that ...,NaN,NaN,NaN,"Kaggle Notebooks,Colab Notebooks",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Kaggle Learn Courses,Cloud-certification progr...",Journal Publications,"Google Cloud Platform , Oracle Cloud",Google Cloud Compute Engine,NaN,NaN,"MySQL ,SQLite ,Oracle Database ,Google Cloud SQL","Google Data Studio,Qlik",Automated model selection,Google Cloud AutoML,NaN

In [88]:
df = df_adalab.copy()

In [89]:
df.head(2)

,id_survey,time,age,gender,country,studies,position,years_programming,preferred_language,computing_platform,times_use_tpu,years_use_ml,industry,company_size,da_employees,company_ml,year_salary,investment_ml,main_bd,main_bi,main_da,programming_languages,ide,hardware,visualization,ml_tools,ml_algorithm,duties,bd_a,bi,best_cloud_services,notebooks,computer_vision,nlp,cloud_platforms_a,cloud_product_a,data_storage_products_a,ml_products_a,automated_ml_tools_a,regular_automl_a,ml_experiments_a,sharing,courses,media,cloud_platforms_b,cloud_products_b,data_storage_products_b,ml_products_b,bd_b,bi_b,automated_ml_tools_b,regular_automl_b,ml_experiments_b
0,0,910,50-54,Man,India,Bachelor’s degree,Other,NaN,Python,A laptop,2-5 times,5-10,Manufacturing/Fabrication,Small,3-4,No,"25,000-29,999",100-999,NaN,NaN,Local development environments,"Python, R",Vim / Emacs,Google Cloud TPUs,"Matplotlib ,Seaborn ,Ggplot / ggplot2 ,Shiny ,...","Scikit-learn , TensorFlow ,Caret","Linear or Logistic Regression, Decision Trees ...",None of these activities are an important part...,PostgreSQL,NaN,NaN,Colab Notebooks,General purpose image/video tools,Word embeddings/vectors,Google Cloud Platform,Google Cloud Compute Engine,Google Cloud Storage,No / None,No / None,NaN,No / None,"GitHub , Kaggle","Coursera,edX,Kaggle Learn Courses,DataCamp,Uda...","Email newsletters ,Kaggle ,YouTube ,Podcasts ,...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,784,50-54,Man,Indonesia,Master’s degree,Program/Project Manager,NaN,Python,A cloud computing platform,Never,< 1,Manufacturing/Fabrication,Large,1-2,Exploring,"60,000-69,999",0,NaN,NaN,Advanced statistical software,"SQL, C, C++, Java","Notepad++,Jupyter Notebook",NaN,Matplotlib,Scikit-learn,"Linear or Logistic Regression, Decision Trees ...",Build and/or run the data infrastructure that ...,NaN,NaN,NaN,"Kaggle Notebooks,Colab Notebooks",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Kaggle Learn Courses,Cloud-certification progr...",Journal Publications,"Google Cloud Platform , Oracle Cloud",Google Cloud Compute Engine,NaN,NaN,"MySQL ,SQLite ,Oracle Database ,Google Cloud SQL","Google Data Studio,Qlik",Automated model selection,Google Cloud AutoML,NaN

In [90]:
columnas = ['id_survey','programming_languages', 'ide','hardware', 'visualization','ml_tools','ml_algorithm','bd_a','bi','notebooks','computer_vision','nlp','cloud_platforms_a',
'cloud_product_a','data_storage_products_a','ml_products_a','automated_ml_tools_a','ml_experiments_a','sharing','courses','media','cloud_platforms_b','cloud_products_b', 'ml_products_b','bd_b', 'bi_b', 'automated_ml_tools_b', 'regular_automl_b','ml_experiments_b']

In [91]:
df_explode = df[columnas]

In [92]:
df_explode.head(2)

,id_survey,programming_languages,ide,hardware,visualization,ml_tools,ml_algorithm,bd_a,bi,notebooks,computer_vision,nlp,cloud_platforms_a,cloud_product_a,data_storage_products_a,ml_products_a,automated_ml_tools_a,ml_experiments_a,sharing,courses,media,cloud_platforms_b,cloud_products_b,ml_products_b,bd_b,bi_b,automated_ml_tools_b,regular_automl_b,ml_experiments_b
0,0,"Python, R",Vim / Emacs,Google Cloud TPUs,"Matplotlib ,Seaborn ,Ggplot / ggplot2 ,Shiny ,...","Scikit-learn , TensorFlow ,Caret","Linear or Logistic Regression, Decision Trees ...",PostgreSQL,NaN,Colab Notebooks,General purpose image/video tools,Word embeddings/vectors,Google Cloud Platform,Google Cloud Compute Engine,Google Cloud Storage,No / None,No / None,No / None,"GitHub , Kaggle","Coursera,edX,Kaggle Learn Courses,DataCamp,Uda...","Email newsletters ,Kaggle ,YouTube ,Podcasts ,...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,"SQL, C, C++, Java","Notepad++,Jupyter Notebook",NaN,Matplotlib,Scikit-learn,"Linear or Logistic Regression, Decision Trees ...",NaN,NaN,"Kaggle Notebooks,Colab Notebooks",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Kaggle Learn Courses,Cloud-certification progr...",Journal Publications,"Google Cloud Platform , Oracle Cloud",Google Cloud Compute Engine,NaN,"MySQL ,SQLite ,Oracle Database ,Google Cloud SQL","Google Data Studio,Qlik",Automated model selection,Google Cloud AutoML,NaN

In [93]:
for col in columnas[1:]:
    df_explode[col] = df_explode[col].str.split(',')

/var/folders/cf/7kf7s8j17wn53znl0ywm912w0000gp/T/ipykernel_3306/2930975392.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_explode[col] = df_explode[col].str.split(',')

In [94]:
df_explode.head(2)

,id_survey,programming_languages,ide,hardware,visualization,ml_tools,ml_algorithm,bd_a,bi,notebooks,computer_vision,nlp,cloud_platforms_a,cloud_product_a,data_storage_products_a,ml_products_a,automated_ml_tools_a,ml_experiments_a,sharing,courses,media,cloud_platforms_b,cloud_products_b,ml_products_b,bd_b,bi_b,automated_ml_tools_b,regular_automl_b,ml_experiments_b
0,0,"[Python, R]",[Vim / Emacs],[Google Cloud TPUs],"[Matplotlib , Seaborn , Ggplot / ggplot2 , Shi...","[Scikit-learn , TensorFlow , Caret]","[Linear or Logistic Regression, Decision Tree...",[PostgreSQL],NaN,[Colab Notebooks],[General purpose image/video tools],[Word embeddings/vectors],[Google Cloud Platform],[Google Cloud Compute Engine],[Google Cloud Storage],[No / None],[No / None],[No / None],"[GitHub , Kaggle]","[Coursera, edX, Kaggle Learn Courses, DataCamp...","[Email newsletters , Kaggle , YouTube , Podcas...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,"[SQL, C, C++, Java]","[Notepad++, Jupyter Notebook]",NaN,[Matplotlib],[Scikit-learn],"[Linear or Logistic Regression, Decision Tree...",NaN,NaN,"[Kaggle Notebooks, Colab Notebooks]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[Kaggle Learn Courses, Cloud-certification pro...",[Journal Publications],"[Google Cloud Platform , Oracle Cloud]",[Google Cloud Compute Engine],NaN,"[MySQL , SQLite , Oracle Database , Google Clo...","[Google Data Studio, Qlik]",[Automated model selection],[Google Cloud AutoML],NaN

In [95]:
df_explode.head(2)

,id_survey,programming_languages,ide,hardware,visualization,ml_tools,ml_algorithm,bd_a,bi,notebooks,computer_vision,nlp,cloud_platforms_a,cloud_product_a,data_storage_products_a,ml_products_a,automated_ml_tools_a,ml_experiments_a,sharing,courses,media,cloud_platforms_b,cloud_products_b,ml_products_b,bd_b,bi_b,automated_ml_tools_b,regular_automl_b,ml_experiments_b
0,0,"[Python, R]",[Vim / Emacs],[Google Cloud TPUs],"[Matplotlib , Seaborn , Ggplot / ggplot2 , Shi...","[Scikit-learn , TensorFlow , Caret]","[Linear or Logistic Regression, Decision Tree...",[PostgreSQL],NaN,[Colab Notebooks],[General purpose image/video tools],[Word embeddings/vectors],[Google Cloud Platform],[Google Cloud Compute Engine],[Google Cloud Storage],[No / None],[No / None],[No / None],"[GitHub , Kaggle]","[Coursera, edX, Kaggle Learn Courses, DataCamp...","[Email newsletters , Kaggle , YouTube , Podcas...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,"[SQL, C, C++, Java]","[Notepad++, Jupyter Notebook]",NaN,[Matplotlib],[Scikit-learn],"[Linear or Logistic Regression, Decision Tree...",NaN,NaN,"[Kaggle Notebooks, Colab Notebooks]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[Kaggle Learn Courses, Cloud-certification pro...",[Journal Publications],"[Google Cloud Platform , Oracle Cloud]",[Google Cloud Compute Engine],NaN,"[MySQL , SQLite , Oracle Database , Google Clo...","[Google Data Studio, Qlik]",[Automated model selection],[Google Cloud AutoML],NaN

In [96]:
def quitar_espacios(elemento):
    '''
    Esta función recoge elemento a elemento de una columna, quita los espacios de los lados y
    devuelve el string modificado'''
    try:
        return elemento.strip()
    except:
        return np.nan

In [97]:
def explode_strip(dataframe,columna):
    ''' 
    Esta función recoge el dataframe y la columna a modificar. Hace un explode de esa columna y quita los espacios de cada elemento.
    Devuelve el dataframe modificado.'''
    dataframe2 = dataframe.explode(columna)
    dataframe2[columna] = dataframe2[columna].apply(quitar_espacios)
    return dataframe2

In [98]:
df_prueba = explode_strip(df_explode,'programming_languages')

In [99]:
df_prueba['programming_languages'].value_counts()

programming_languages
Python        21860
SQL           10756
C++            5535
R              5334
Java           4769
C              4709
Javascript     4332
MATLAB         2935
Other          2575
Bash           2216
Julia           305
Swift           242
Name: count, dtype: int64

In [100]:
df.shape

(25973, 53)

In [101]:
df_explode.shape

(25973, 29)

In [102]:
for col in columnas[1:]:
    df.drop(col,axis=1,inplace=True)

In [103]:
df.shape

(25973, 25)

In [104]:
df.head(2)

,id_survey,time,age,gender,country,studies,position,years_programming,preferred_language,computing_platform,times_use_tpu,years_use_ml,industry,company_size,da_employees,company_ml,year_salary,investment_ml,main_bd,main_bi,main_da,duties,best_cloud_services,regular_automl_a,data_storage_products_b
0,0,910,50-54,Man,India,Bachelor’s degree,Other,NaN,Python,A laptop,2-5 times,5-10,Manufacturing/Fabrication,Small,3-4,No,"25,000-29,999",100-999,NaN,NaN,Local development environments,None of these activities are an important part...,NaN,NaN,NaN
1,1,784,50-54,Man,Indonesia,Master’s degree,Program/Project Manager,NaN,Python,A cloud computing platform,Never,< 1,Manufacturing/Fabrication,Large,1-2,Exploring,"60,000-69,999",0,NaN,NaN,Advanced statistical software,Build and/or run the data infrastructure that ...,NaN,NaN,NaN

In [105]:
df.to_csv('archivos_resultantes/dataframe_graficas.csv')
df_explode.to_csv('archivos_resultantes/dataframe_graficas_explode.csv')