## Archivo dedicado a la limpieza de las columnas después de la unión.

In [72]:
import pandas as pd
import numpy as np
import regex as re
pd.options.display.max_columns=None
pd.options.display.max_rows=None

In [73]:
df = pd.read_csv('archivos_resultantes/columnas_unificadas.csv',index_col=0)
df.head(2)

,time,age,gender,Q3,Q4,Q5,Q6,Q8,Q11,Q13,Q15,Q20,Q21,Q22,Q23,Q25,Q26,Q33,Q35,Q41,Q7,Q9,Q12,Q14,Q16,Q17,Q24,Q32,Q34,Q28,Q10,Q18,Q19,Q27-A,Q29-A,Q30-A,Q31-A,Q36-A,Q37-A,Q38-A,Q39,Q40,Q42,Q27-B,Q29-B,Q30-B,Q31-B,Q32-B,Q34-B,Q36-B,Q37-B,Q38-B
0,910,50-54,Man,India,Bachelor’s degree,Other,5-10 years,Python,A laptop,2-5 times,5-10 years,Manufacturing/Fabrication,50-249 employees,3-4,No (we do not use ML methods),"25,000-29,999",$100-$999,NaN,NaN,"Local development environments (RStudio, Jupyt...","Python, R",Vim / Emacs,Google Cloud TPUs,"Matplotlib ,Seaborn ,Ggplot / ggplot2 ,Shiny ...","Scikit-learn , TensorFlow ,Caret","Linear or Logistic Regression, Decision Trees ...",None of these activities are an important par...,PostgreSQL,None,NaN,Colab Notebooks,"General purpose image/video tools (PIL, cv2, s...","Word embeddings/vectors (GLoVe, fastText, word...",Google Cloud Platform (GCP),Google Cloud Compute Engine,Google Cloud Storage (GCS),No / None,No / None,NaN,No / None,"GitHub , Kaggle","Coursera, edX, Kaggle Learn Courses, DataCamp,...","Email newsletters (Data Elixir, O'Reilly Data ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,784,50-54,Man,Indonesia,Master’s degree,Program/Project Manager,20+ years,Python,"A cloud computing platform (AWS, Azure, GCP, h...",Never,< 1 year,Manufacturing/Fabrication,"1000-9,999 employees",1-2,We are exploring ML methods (and may one day p...,"60,000-69,999",$0 ($USD),NaN,NaN,"Advanced statistical software (SPSS, SAS, etc.)","SQL, C, C++, Java","Notepad++,Jupyter Notebook",None,Matplotlib,Scikit-learn,"Linear or Logistic Regression, Decision Trees ...",Build and/or run the data infrastructure that...,NaN,NaN,NaN,"Kaggle Notebooks, Colab Notebooks",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Kaggle Learn Courses, Cloud-certification prog...","Journal Publications (peer-reviewed journals, ...","Google Cloud Platform (GCP) , Oracle Cloud",Google Cloud Compute Engine,NaN,NaN,"MySQL , SQLite , Oracle Database , Google Clou...","Google Data Studio, Qlik","Automated model selection (e.g. auto-sklearn, ...",Google Cloud AutoML,NaN

In [74]:



def limpieza_q6(elemento):

    """Esta funcion recibe cada uno de los elementos de la columna que se indique.
    Reemplaza la palabra años por nada y acorta la opción 'I have never written code' por 'No code'. Devuelve
    estos elementos reemplazados. Es específica para la columna Q6."""

    return elemento.replace('years','').replace('I have never written code','No code')

In [75]:
df['Q6'] = df['Q6'].apply(limpieza_q6)

In [76]:
def limpieza_q4(elemento):

    """Esta funcion recibe cada uno de los elementos de la columna que se indique.
    Reemplaza 'I prefer not to answer' por 'Not answer'; 'Some college/university study without earning a bachelors degree' por'University study, no bachelor').replace('No formal education past high school','High school')la palabra años por nada y acorta la opción 'I have never written code' por 'No code'. Devuelve
    estos elementos reemplazados. Es específica para la columna Q6."""

    return elemento.replace('I prefer not to answer','Not answer').replace('Some college/university study without earning a bachelor’s degree','University study, no bachelor').replace('No formal education past high school','High school')

In [77]:
df['Q4'] = df['Q4'].apply(limpieza_q4)

In [78]:
def limpieza_q5(elemento):
    return elemento.replace('Currently not employed','Unemployed')

In [79]:
df['Q5'] = df['Q5'].apply(limpieza_q5)

In [80]:
def quitar_parentesis(elemento):
    try:
        return re.sub('\([^)]+\)','',elemento)
    except:
            return elemento

In [81]:
def quitar_espacios(elemento):
    try:
        return elemento.strip()
    except:
        return elemento

In [82]:
def eliminar_simbolo(elemento):
    try:
        return re.sub("\$", "", elemento)
    except:
        return elemento

In [83]:
for columna in df.columns:
    df[columna] = df[columna].apply(quitar_parentesis)
    df[columna] = df[columna].apply(quitar_espacios)
    df[columna] = df[columna].apply(eliminar_simbolo)

In [84]:
def limpieza_q13(elemento):
    try:
        return elemento.replace('More than 25 times','>25').replace('Once','1').replace('times','').strip()
    except:
        return elemento

In [85]:
df['Q13'] = df['Q13'].apply(limpieza_q13)

In [86]:
def limpieza_q15(elemento):
    try:
        return elemento.replace('I do not use machine learning methods','Not use').replace('20 or more years','>=20').replace(' years','').replace(' year','').strip()
    except:
        return elemento

In [87]:
df['Q15'] = df['Q15'].apply(limpieza_q15)

In [88]:
df['Q21'].unique()

array(['50-249 employees', '1000-9,999 employees', nan,
       '10,000 or more employees', '0-49 employees', '250-999 employees'],
      dtype=object)

In [89]:
def limpieza_q21(elemento):
    try:
        if elemento == '0-49 employees':
            return 'Startup'
        elif elemento == '50-249 employees':
            return 'Small'
        elif elemento == '250-999 employees':
            return 'Medium'
        elif elemento == '1000-9,999 employees':
            return 'Large'
        elif elemento == '10,000 or more employees':
            return 'Macro'
    except:
        return elemento

In [90]:
df['Q21'] = df['Q21'].apply(limpieza_q21)

In [91]:
df['Q21'].unique()

array(['Small', 'Large', None, 'Macro', 'Startup', 'Medium'], dtype=object)

In [92]:
df['Q23'].unique()

array(['No', 'We are exploring ML methods', 'I do not know',
       'We use ML methods for generating insights', nan,
       'We have well established ML methods',
       'We recently started using ML methods'], dtype=object)

In [93]:
def limpieza_q23(elemento):

    if elemento == 'We are exploring ML methods':
        return 'Exploring'
    elif elemento == 'I do not know':
        return 'Dont Know'
    elif elemento == 'We use ML methods for generating insights':
        return 'For insights'
    elif elemento == 'We have well established ML methods':
        return 'Well established'
    elif elemento == 'We recently started using ML methods':
        return 'Recently started'
    else:
        return np.nan

In [94]:
df['Q23'] = df['Q23'].apply(limpieza_q23)

In [95]:
df['Q23'].unique()

array([nan, 'Exploring', 'Dont Know', 'For insights', 'Well established',
       'Recently started'], dtype=object)

In [96]:
def limpieza_años(elemento):

    if elemento == 'No code':
        return 'No code'
    elif elemento == '< 1' or elemento == '1-3':
        return 'Junior'
    elif elemento == '3-5':
        return 'Mid-level'
    elif elemento == '5-10':
        return 'Senior'
    elif elemento == '10-20' or elemento == '20+':
        return 'Architect'
    else:
        return np.nan

In [99]:
df['Q6'] = df['Q6'].apply(limpieza_años)	

df.head(1)

,time,age,gender,Q3,Q4,Q5,Q6,Q8,Q11,Q13,Q15,Q20,Q21,Q22,Q23,Q25,Q26,Q33,Q35,Q41,Q7,Q9,Q12,Q14,Q16,Q17,Q24,Q32,Q34,Q28,Q10,Q18,Q19,Q27-A,Q29-A,Q30-A,Q31-A,Q36-A,Q37-A,Q38-A,Q39,Q40,Q42,Q27-B,Q29-B,Q30-B,Q31-B,Q32-B,Q34-B,Q36-B,Q37-B,Q38-B
0,910,50-54,Man,India,Bachelor’s degree,Other,Senior,Python,A laptop,2-5,5-10,Manufacturing/Fabrication,Small,3-4,NaN,"25,000-29,999",100-999,NaN,NaN,Local development environments,"Python, R",Vim / Emacs,Google Cloud TPUs,"Matplotlib ,Seaborn ,Ggplot / ggplot2 ,Shiny ,...","Scikit-learn , TensorFlow ,Caret","Linear or Logistic Regression, Decision Trees ...",None of these activities are an important part...,PostgreSQL,None,NaN,Colab Notebooks,General purpose image/video tools,Word embeddings/vectors,Google Cloud Platform,Google Cloud Compute Engine,Google Cloud Storage,No / None,No / None,NaN,No / None,"GitHub , Kaggle","Coursera, edX, Kaggle Learn Courses, DataCamp,...","Email newsletters , Kaggle , YouTube , Podcast...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Hemos realizado varios cambios en las diferentes columnas seleccionadas para poder hacer estos datos mucho más manejables y visuales.

In [101]:
nuevas_columnas = {"time" : "time", "age": "age", "gender" : "gender", "Q3" : "country", 
                "Q4" : "studies", "Q5" : "position", "Q6" : "years_programming", 
                "Q8" : "preferred_language", "Q11" : "computing_platform", "Q13": "times_use_tpu",
                "Q15" : "years_use_ml", "Q20" : "industry", "Q21" : "company_size", 
                "Q22" : "da_employees", "Q23" : "company_ml", "Q25" : "year_salary",          
                "Q26" : "investment_ml", "Q33" : "main_bd", "Q35" : "main_bi",
                "Q41" : "main_da", "Q7" : "programming_languages", "Q9" : "ide", 
                "Q12" : "hardware", "Q14" : "visualization", "Q16" : "ml_tools",
                "Q17" : "ml_algorithm", "Q24" : "duties", "Q32": "bd_a", "Q34" : "bi",
                "Q28" : "best_cloud_services", "Q10" : "notebooks", "Q18" : "computer_vision",
                "Q19" : "nlp", "Q27-A" : "cloud_platforms_a", "Q29-A": "cloud_product_a", 
                "Q30-A" : "data_storage_products_a", "Q31-A" : "ml_products_a", 
                "Q36-A" : "automated_ml_tools_a", "Q37-A" : "regular_automl_a", "Q38-A" : "ml_experiments_a", 
                "Q39": "sharing", "Q40" : "courses", "Q42" : "media", "Q27-B" : "cloud_platforms_b", 
                "Q29-B": "cloud_products_b", "Q30-B" : "data_storage_products_b", "Q31-B" : "ml_products_b", 
                "Q32-B" : "bd_b", "Q34-B" : "bi_b", "Q36-B" : "automated_ml_tools_b", 
                "Q37-B" : "regular_automl_b", "Q38-B" : "ml_experiments_b"}


# Cambiamos los nombres de las columnas por unos que sean más descriptivos, en función de la pregunta que se realizase en la encuesta.

In [102]:
df.rename(columns = nuevas_columnas, inplace = True)
df.head(1)

,time,age,gender,country,studies,position,years_programming,preferred_language,computing_platform,times_use_tpu,years_use_ml,industry,company_size,da_employees,company_ml,year_salary,investment_ml,main_bd,main_bi,main_da,programming_languages,ide,hardware,visualization,ml_tools,ml_algorithm,duties,bd_a,bi,best_cloud_services,notebooks,computer_vision,nlp,cloud_platforms_a,cloud_product_a,data_storage_products_a,ml_products_a,automated_ml_tools_a,regular_automl_a,ml_experiments_a,sharing,courses,media,cloud_platforms_b,cloud_products_b,data_storage_products_b,ml_products_b,bd_b,bi_b,automated_ml_tools_b,regular_automl_b,ml_experiments_b
0,910,50-54,Man,India,Bachelor’s degree,Other,Senior,Python,A laptop,2-5,5-10,Manufacturing/Fabrication,Small,3-4,NaN,"25,000-29,999",100-999,NaN,NaN,Local development environments,"Python, R",Vim / Emacs,Google Cloud TPUs,"Matplotlib ,Seaborn ,Ggplot / ggplot2 ,Shiny ,...","Scikit-learn , TensorFlow ,Caret","Linear or Logistic Regression, Decision Trees ...",None of these activities are an important part...,PostgreSQL,None,NaN,Colab Notebooks,General purpose image/video tools,Word embeddings/vectors,Google Cloud Platform,Google Cloud Compute Engine,Google Cloud Storage,No / None,No / None,NaN,No / None,"GitHub , Kaggle","Coursera, edX, Kaggle Learn Courses, DataCamp,...","Email newsletters , Kaggle , YouTube , Podcast...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [103]:
df.insert(0, 'id_survey', range(0, len(df)))

# Introducimos una nueva columna que contenga el ID de la persona encuestada, para poder trabajar mejor con los datos en el futuro.

In [104]:
df.to_csv('archivos_resultantes/archivo_unificado_limpio.csv')