In [5]:
import pandas as pd

pd.options.display.max_columns=None

In [7]:
df = pd.read_csv('archivos_resultantes/columnas_unificadas.csv', index_col = 0)
df.head(2)

,time,age,gender,Q3,Q4,Q5,Q6,Q8,Q11,Q13,Q15,Q20,Q21,Q22,Q23,Q25,Q26,Q33,Q35,Q41,Q7,Q9,Q12,Q14,Q16,Q17,Q24,Q32,Q34,Q28,Q10,Q18,Q19,Q27-A,Q29-A,Q30-A,Q31-A,Q36-A,Q37-A,Q38-A,Q39,Q40,Q42,Q27-B,Q29-B,Q30-B,Q31-B,Q32-B,Q34-B,Q36-B,Q37-B,Q38-B
0,910,50-54,Man,India,Bachelor’s degree,Other,5-10 years,Python,A laptop,2-5 times,5-10 years,Manufacturing/Fabrication,50-249 employees,3-4,No (we do not use ML methods),"25,000-29,999",$100-$999,NaN,NaN,"Local development environments (RStudio, Jupyt...","Python, R",Vim / Emacs,Google Cloud TPUs,"Matplotlib ,Seaborn ,Ggplot / ggplot2 ,Shiny ...","Scikit-learn , TensorFlow ,Caret","Linear or Logistic Regression, Decision Trees ...",None of these activities are an important par...,PostgreSQL,None,NaN,Colab Notebooks,"General purpose image/video tools (PIL, cv2, s...","Word embeddings/vectors (GLoVe, fastText, word...",Google Cloud Platform (GCP),Google Cloud Compute Engine,Google Cloud Storage (GCS),No / None,No / None,NaN,No / None,"GitHub , Kaggle","Coursera, edX, Kaggle Learn Courses, DataCamp,...","Email newsletters (Data Elixir, O'Reilly Data ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,784,50-54,Man,Indonesia,Master’s degree,Program/Project Manager,20+ years,Python,"A cloud computing platform (AWS, Azure, GCP, h...",Never,< 1 year,Manufacturing/Fabrication,"1000-9,999 employees",1-2,We are exploring ML methods (and may one day p...,"60,000-69,999",$0 ($USD),NaN,NaN,"Advanced statistical software (SPSS, SAS, etc.)","SQL, C, C++, Java","Notepad++,Jupyter Notebook",None,Matplotlib,Scikit-learn,"Linear or Logistic Regression, Decision Trees ...",Build and/or run the data infrastructure that...,NaN,NaN,NaN,"Kaggle Notebooks, Colab Notebooks",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Kaggle Learn Courses, Cloud-certification prog...","Journal Publications (peer-reviewed journals, ...","Google Cloud Platform (GCP) , Oracle Cloud",Google Cloud Compute Engine,NaN,NaN,"MySQL , SQLite , Oracle Database , Google Clou...","Google Data Studio, Qlik","Automated model selection (e.g. auto-sklearn, ...",Google Cloud AutoML,NaN

In [9]:
nuevas_columnas = {"time" : "time", "age": "age", "gender" : "gender", "Q3" : "country", 
                "Q4" : "studies", "Q5" : "position", "Q6" : "years_programming", 
                "Q8" : "preferred_language", "Q11" : "computing_platform", "Q13": "times_use_tpu",
                "Q15" : "years_use_ml", "Q20" : "industry", "Q21" : "company_size", 
                "Q22" : "da_employees", "Q23" : "company_ml", "Q25" : "year_salary",          
                "Q26" : "investment_ml", "Q33" : "main_bd", "Q35" : "main_bi",
                "Q41" : "main_da", "Q7" : "programming_languages", "Q9" : "ide", 
                "Q12" : "hardware", "Q14" : "visualization", "Q16" : "ml_tools",
                "Q17" : "ml_algorithm", "Q24" : "duties", "Q32": "bd_a", "Q34" : "bi",
                "Q28" : "best_cloud_services", "Q10" : "notebooks", "Q18" : "computer_vision",
                "Q19" : "nlp", "Q27-A" : "cloud_platforms_A", "Q29-A": "cloud_product_a", 
                "Q30-A" : "data_storage_products_A", "Q31-A" : "ml_products_a", 
                "Q36-A" : "automated_ml_tools_a", "Q37-A" : "regular_automl_a", "Q38-A" : "ml_experiments_a", 
                "Q39": "sharing", "Q40" : "courses", "Q42" : "media", "Q27-B" : "cloud_platforms_b", 
                "Q29-B": "cloud_products_b", "Q30-B" : "data_storage_products_b", "Q31-B" : "ml_products_b", 
                "Q32-B" : "bd_a", "Q34-B" : "bi_b", "Q36-B" : "automated_ml_tools_b", 
                "Q37-B" : "regular_automl_b", "Q38-B" : "ml_experiments_b"}

In [10]:
df.rename(columns = nuevas_columnas, inplace = True)
df.head(1)

,time,age,gender,country,studies,position,years_programming,preferred_language,computing_platform,times_use_tpu,years_use_ml,industry,company_size,da_employees,company_ml,year_salary,investment_ml,main_bd,main_bi,main_da,programming_languages,ide,hardware,visualization,ml_tools,ml_algorithm,duties,bd_a,bi,best_cloud_services,notebooks,computer_vision,nlp,cloud_platforms_A,cloud_product_a,data_storage_products_A,ml_products_a,automated_ml_tools_a,regular_automl_a,ml_experiments_a,sharing,courses,media,cloud_platforms_b,cloud_products_b,data_storage_products_b,ml_products_b,bd_a,bi_b,automated_ml_tools_b,regular_automl_b,ml_experiments_b
0,910,50-54,Man,India,Bachelor’s degree,Other,5-10 years,Python,A laptop,2-5 times,5-10 years,Manufacturing/Fabrication,50-249 employees,3-4,No (we do not use ML methods),"25,000-29,999",$100-$999,NaN,NaN,"Local development environments (RStudio, Jupyt...","Python, R",Vim / Emacs,Google Cloud TPUs,"Matplotlib ,Seaborn ,Ggplot / ggplot2 ,Shiny ...","Scikit-learn , TensorFlow ,Caret","Linear or Logistic Regression, Decision Trees ...",None of these activities are an important par...,PostgreSQL,None,NaN,Colab Notebooks,"General purpose image/video tools (PIL, cv2, s...","Word embeddings/vectors (GLoVe, fastText, word...",Google Cloud Platform (GCP),Google Cloud Compute Engine,Google Cloud Storage (GCS),No / None,No / None,NaN,No / None,"GitHub , Kaggle","Coursera, edX, Kaggle Learn Courses, DataCamp,...","Email newsletters (Data Elixir, O'Reilly Data ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN