In [107]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn
import numpy as np
pd.options.display.max_columns=None
pd.options.display.max_rows=None

In [108]:
df = pd.read_csv('archivo_unificado.csv')
df.drop('Unnamed: 0', axis = 1, inplace = True)
df.head(1)

,time,age,gender,Q3,Q4,Q5,Q6,Q8,Q11,Q13,Q15,Q20,Q21,Q22,Q23,Q25,Q26,Q33,Q35,Q41,Q7,Q9,Q12,Q14,Q16,Q17,Q24,Q32,Q34,Q10_Part_1,Q10_Part_2,Q10_Part_3,Q10_Part_4,Q10_Part_5,Q10_Part_6,Q10_Part_7,Q10_Part_8,Q10_Part_9,Q10_Part_10,Q10_Part_11,Q10_Part_12,Q10_Part_13,Q10_Part_14,Q10_Part_15,Q10_Part_16,Q10_OTHER,Q18_Part_1,Q18_Part_2,Q18_Part_3,Q18_Part_4,Q18_Part_5,Q18_Part_6,Q18_OTHER,Q19_Part_1,Q19_Part_2,Q19_Part_3,Q19_Part_4,Q19_Part_5,Q19_OTHER,Q27_A_Part_1,Q27_A_Part_2,Q27_A_Part_3,Q27_A_Part_4,Q27_A_Part_5,Q27_A_Part_6,Q27_A_Part_7,Q27_A_Part_8,Q27_A_Part_9,Q27_A_Part_10,Q27_A_Part_11,Q27_A_OTHER,Q28,Q29_A_Part_1,Q29_A_Part_2,Q29_A_Part_3,Q29_A_Part_4,Q29_A_OTHER,Q30_A_Part_1,Q30_A_Part_2,Q30_A_Part_3,Q30_A_Part_4,Q30_A_Part_5,Q30_A_Part_6,Q30_A_Part_7,Q30_A_OTHER,Q31_A_Part_1,Q31_A_Part_2,Q31_A_Part_3,Q31_A_Part_4,Q31_A_Part_5,Q31_A_Part_6,Q31_A_Part_7,Q31_A_Part_8,Q31_A_Part_9,Q31_A_OTHER,Q36_A_Part_1,Q36_A_Part_2,Q36_A_Part_3,Q36_A_Part_4,Q36_A_Part_5,Q36_A_Part_6,Q36_A_Part_7,Q36_A_OTHER,Q37_A_Part_1,Q37_A_Part_2,Q37_A_Part_3,Q37_A_Part_4,Q37_A_Part_5,Q37_A_Part_6,Q37_A_Part_7,Q37_A_OTHER,Q38_A_Part_1,Q38_A_Part_2,Q38_A_Part_3,Q38_A_Part_4,Q38_A_Part_5,Q38_A_Part_6,Q38_A_Part_7,Q38_A_Part_8,Q38_A_Part_9,Q38_A_Part_10,Q38_A_Part_11,Q38_A_OTHER,Q39_Part_1,Q39_Part_2,Q39_Part_3,Q39_Part_4,Q39_Part_5,Q39_Part_6,Q39_Part_7,Q39_Part_8,Q39_Part_9,Q39_OTHER,Q40_Part_1,Q40_Part_2,Q40_Part_3,Q40_Part_4,Q40_Part_5,Q40_Part_6,Q40_Part_7,Q40_Part_8,Q40_Part_9,Q40_Part_10,Q40_Part_11,Q40_OTHER,Q42_Part_1,Q42_Part_2,Q42_Part_3,Q42_Part_4,Q42_Part_5,Q42_Part_6,Q42_Part_7,Q42_Part_8,Q42_Part_9,Q42_Part_10,Q42_Part_11,Q42_OTHER,Q27_B_Part_1,Q27_B_Part_2,Q27_B_Part_3,Q27_B_Part_4,Q27_B_Part_5,Q27_B_Part_6,Q27_B_Part_7,Q27_B_Part_8,Q27_B_Part_9,Q27_B_Part_10,Q27_B_Part_11,Q27_B_OTHER,Q29_B_Part_1,Q29_B_Part_2,Q29_B_Part_3,Q29_B_Part_4,Q29_B_OTHER,Q30_B_Part_1,Q30_B_Part_2,Q30_B_Part_3,Q30_B_Part_4,Q30_B_Part_5,Q30_B_Part_6,Q30_B_Part_7,Q30_B_OTHER,Q31_B_Part_1,Q31_B_Part_2,Q31_B_Part_3,Q31_B_Part_4,Q31_B_Part_5,Q31_B_Part_6,Q31_B_Part_7,Q31_B_Part_8,Q31_B_Part_9,Q31_B_OTHER,Q32_B_Part_1,Q32_B_Part_2,Q32_B_Part_3,Q32_B_Part_4,Q32_B_Part_5,Q32_B_Part_6,Q32_B_Part_7,Q32_B_Part_8,Q32_B_Part_9,Q32_B_Part_10,Q32_B_Part_11,Q32_B_Part_12,Q32_B_Part_13,Q32_B_Part_14,Q32_B_Part_15,Q32_B_Part_16,Q32_B_Part_17,Q32_B_Part_18,Q32_B_Part_19,Q32_B_Part_20,Q32_B_OTHER,Q34_B_Part_1,Q34_B_Part_2,Q34_B_Part_3,Q34_B_Part_4,Q34_B_Part_5,Q34_B_Part_6,Q34_B_Part_7,Q34_B_Part_8,Q34_B_Part_9,Q34_B_Part_10,Q34_B_Part_11,Q34_B_Part_12,Q34_B_Part_13,Q34_B_Part_14,Q34_B_Part_15,Q34_B_Part_16,Q34_B_OTHER,Q36_B_Part_1,Q36_B_Part_2,Q36_B_Part_3,Q36_B_Part_4,Q36_B_Part_5,Q36_B_Part_6,Q36_B_Part_7,Q36_B_OTHER,Q37_B_Part_1,Q37_B_Part_2,Q37_B_Part_3,Q37_B_Part_4,Q37_B_Part_5,Q37_B_Part_6,Q37_B_Part_7,Q37_B_OTHER,Q38_B_Part_1,Q38_B_Part_2,Q38_B_Part_3,Q38_B_Part_4,Q38_B_Part_5,Q38_B_Part_6,Q38_B_Part_7,Q38_B_Part_8,Q38_B_Part_9,Q38_B_Part_10,Q38_B_Part_11,Q38_B_OTHER
0,910,50-54,Man,India,Bachelor’s degree,Other,5-10 years,Python,A laptop,2-5 times,5-10 years,Manufacturing/Fabrication,50-249 employees,3-4,No (we do not use ML methods),"25,000-29,999",$100-$999,NaN,NaN,"Local development environments (RStudio, Jupyt...","Python, R",Vim / Emacs,Google Cloud TPUs,"Matplotlib ,Seaborn ,Ggplot / ggplot2 ,Shiny ...","Scikit-learn , TensorFlow ,Caret","Linear or Logistic Regression, Decision Trees ...",None of these activities are an important par...,PostgreSQL,None,NaN,Colab Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"General purpose image/video tools (PIL, cv2, s...",NaN,NaN,NaN,NaN,NaN,NaN,"Word embeddings/vectors (GLoVe, fastText, word...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,Google Cloud Platform (GCP),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Google Cloud Compute Engine,NaN,NaN,NaN,NaN,NaN,NaN,Google Cloud Storage (GCS),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No / None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No / None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No / None,NaN,NaN,NaN,NaN,GitHub,NaN,Kaggle,NaN,NaN,NaN,NaN,Coursera,edX,Kaggle Learn Courses,DataCamp,NaN,Udacity,Udemy,NaN,NaN,NaN,NaN,NaN,NaN,"Email newsletters (Data Elixir, O'Reilly Data ...",NaN,"Kaggle (notebooks, forums, etc)",NaN,"YouTube (Kaggle YouTube, Cloud AI Adventures, ...","Podcasts (Chai Time Data Science, O’Reilly Dat...","Blogs (Towards Data Science, Analytics Vidhya,...","Journal Publications (peer-reviewed journals, ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [110]:
def union(*args):

    lista_str = [str(x) for x in args]
    lista_final = [i for i in lista_str if i.lower() != 'nan']
    texto = ', '.join(lista_final)
    if len(lista_final) == 0 :
        return np.nan
    else:   
        return texto

In [111]:
df['Q10'] = df.apply(lambda dataframe: union(dataframe['Q10_Part_1'],dataframe['Q10_Part_2'],dataframe['Q10_Part_3'],dataframe['Q10_Part_4'],
                                          dataframe['Q10_Part_5'],dataframe['Q10_Part_6'],dataframe['Q10_Part_7'],dataframe['Q10_Part_8'],
                                          dataframe['Q10_Part_9'],dataframe['Q10_Part_10'],dataframe['Q10_Part_11'],dataframe['Q10_Part_12'],
                                          dataframe['Q10_Part_13'],dataframe['Q10_Part_14'],dataframe['Q10_Part_15'],dataframe['Q10_Part_16'],
                                          dataframe['Q10_OTHER']), axis = 1)

df.drop(['Q10_Part_1', 'Q10_Part_2', 'Q10_Part_3', 'Q10_Part_4', 'Q10_Part_5',
       'Q10_Part_6', 'Q10_Part_7', 'Q10_Part_8', 'Q10_Part_9', 'Q10_Part_10',
       'Q10_Part_11', 'Q10_Part_12', 'Q10_Part_13', 'Q10_Part_14',
       'Q10_Part_15', 'Q10_Part_16', 'Q10_OTHER'], axis = 1, inplace = True)

In [113]:
df['Q18'] = df.apply(lambda dataframe: union(dataframe['Q18_Part_1'],dataframe['Q18_Part_2'],dataframe['Q18_Part_3'],dataframe['Q18_Part_4'],
                                          dataframe['Q18_Part_5'],dataframe['Q18_Part_6'], dataframe['Q18_OTHER']), axis = 1)
df.drop(['Q18_Part_1', 'Q18_Part_2', 'Q18_Part_3', 'Q18_Part_4', 'Q18_Part_5',
       'Q18_Part_6', 'Q18_OTHER'], axis = 1, inplace = True)

In [115]:
df['Q19'] = df.apply(lambda dataframe: union(dataframe['Q19_Part_1'],dataframe['Q19_Part_2'],dataframe['Q19_Part_3'],dataframe['Q19_Part_4'],
                                          dataframe['Q19_Part_5'], dataframe['Q19_OTHER']), axis = 1)
df.drop(['Q19_Part_1', 'Q19_Part_2', 'Q19_Part_3', 'Q19_Part_4', 'Q19_Part_5',
       'Q19_OTHER'], axis = 1, inplace = True)

In [117]:
df['Q27-A'] = df.apply(lambda dataframe: union(dataframe['Q27_A_Part_1'],dataframe['Q27_A_Part_2'],dataframe['Q27_A_Part_3'],
                                                    dataframe['Q27_A_Part_4'], dataframe['Q27_A_Part_5'], dataframe['Q27_A_Part_6'],
                                                    dataframe['Q27_A_Part_7'], dataframe['Q27_A_Part_8'], dataframe['Q27_A_Part_9'],
                                                    dataframe['Q27_A_Part_10'], dataframe['Q27_A_Part_11'], dataframe['Q27_A_OTHER']), axis = 1)
df.drop(['Q27_A_Part_1', 'Q27_A_Part_2', 'Q27_A_Part_3', 'Q27_A_Part_4', 'Q27_A_Part_5', 
        'Q27_A_Part_6', 'Q27_A_Part_7', 'Q27_A_Part_8', 'Q27_A_Part_9', 'Q27_A_Part_10', 'Q27_A_Part_11', 'Q27_A_OTHER'], 
        axis = 1, inplace = True)

In [119]:
df['Q29-A'] = df.apply(lambda dataframe: union(dataframe['Q29_A_Part_1'],dataframe['Q29_A_Part_2'],dataframe['Q29_A_Part_3'],
                                                    dataframe['Q29_A_Part_4'], dataframe['Q29_A_OTHER']), axis = 1)
df.drop(['Q29_A_Part_1', 'Q29_A_Part_2', 'Q29_A_Part_3', 'Q29_A_Part_4',
       'Q29_A_OTHER'], axis = 1, inplace = True)

In [121]:
df['Q30-A'] = df.apply(lambda dataframe: union(dataframe['Q30_A_Part_1'],dataframe['Q30_A_Part_2'],dataframe['Q30_A_Part_3'],
                                                    dataframe['Q30_A_Part_4'], dataframe['Q30_A_Part_5'], dataframe['Q30_A_Part_6'],
                                                     dataframe['Q30_A_Part_7'], dataframe['Q30_A_OTHER']), axis = 1)
df.drop(['Q30_A_Part_1', 'Q30_A_Part_2', 'Q30_A_Part_3', 'Q30_A_Part_4',
       'Q30_A_Part_5', 'Q30_A_Part_6', 'Q30_A_Part_7', 'Q30_A_OTHER'], axis = 1, inplace = True)

In [123]:
df['Q31-A'] = df.apply(lambda dataframe: union(dataframe['Q31_A_Part_1'],dataframe['Q31_A_Part_2'],dataframe['Q31_A_Part_3'],
                                                    dataframe['Q31_A_Part_4'], dataframe['Q31_A_Part_5'], dataframe['Q31_A_Part_6'],
                                                     dataframe['Q31_A_Part_7'], dataframe['Q31_A_Part_8'],dataframe['Q31_A_Part_9'], 
                                                     dataframe['Q31_A_OTHER']), axis = 1)
df.drop(['Q31_A_Part_1', 'Q31_A_Part_2', 'Q31_A_Part_3', 'Q31_A_Part_4',
       'Q31_A_Part_5', 'Q31_A_Part_6', 'Q31_A_Part_7', 'Q31_A_Part_8',
       'Q31_A_Part_9', 'Q31_A_OTHER'], axis = 1, inplace = True)

In [125]:
df['Q36-A'] = df.apply(lambda dataframe: union(dataframe['Q36_A_Part_1'],dataframe['Q36_A_Part_2'],dataframe['Q36_A_Part_3'],
                                                    dataframe['Q36_A_Part_4'], dataframe['Q36_A_Part_5'], dataframe['Q36_A_Part_6'],
                                                     dataframe['Q36_A_Part_7'], dataframe['Q36_A_OTHER']), axis = 1)
df.drop(['Q36_A_Part_1', 'Q36_A_Part_2', 'Q36_A_Part_3', 'Q36_A_Part_4',
       'Q36_A_Part_5', 'Q36_A_Part_6', 'Q36_A_Part_7', 'Q36_A_OTHER'], axis = 1, inplace = True)

In [127]:
df['Q37-A'] = df.apply(lambda dataframe: union(dataframe['Q37_A_Part_1'],dataframe['Q37_A_Part_2'],dataframe['Q37_A_Part_3'],
                                                    dataframe['Q37_A_Part_4'], dataframe['Q37_A_Part_5'], dataframe['Q37_A_Part_6'],
                                                     dataframe['Q37_A_Part_7'], dataframe['Q37_A_OTHER']), axis = 1)
df.drop(['Q37_A_Part_1', 'Q37_A_Part_2', 'Q37_A_Part_3', 'Q37_A_Part_4',
       'Q37_A_Part_5', 'Q37_A_Part_6', 'Q37_A_Part_7', 'Q37_A_OTHER'], axis = 1, inplace = True)

In [129]:
df['Q38-A'] = df.apply(lambda dataframe: union(dataframe['Q38_A_Part_1'],dataframe['Q38_A_Part_2'],dataframe['Q38_A_Part_3'],
                                                    dataframe['Q38_A_Part_4'], dataframe['Q38_A_Part_5'], dataframe['Q38_A_Part_6'],
                                                    dataframe['Q38_A_Part_7'], dataframe['Q38_A_Part_8'], dataframe['Q38_A_Part_9'],
                                                    dataframe['Q38_A_Part_10'], dataframe['Q38_A_Part_11'], dataframe['Q38_A_OTHER']), axis = 1)
df.drop(['Q38_A_Part_1', 'Q38_A_Part_2', 'Q38_A_Part_3', 'Q38_A_Part_4',
       'Q38_A_Part_5', 'Q38_A_Part_6', 'Q38_A_Part_7', 'Q38_A_Part_8',
       'Q38_A_Part_9', 'Q38_A_Part_10', 'Q38_A_Part_11', 'Q38_A_OTHER'], axis = 1, inplace = True)

In [131]:
df['Q39'] = df.apply(lambda dataframe: union(dataframe['Q39_Part_1'],dataframe['Q39_Part_2'],dataframe['Q39_Part_3'],
                                                    dataframe['Q39_Part_4'], dataframe['Q39_Part_5'], dataframe['Q39_Part_6'],
                                                    dataframe['Q39_Part_7'], dataframe['Q39_Part_8'], dataframe['Q39_Part_9'],
                                                    dataframe['Q39_OTHER']), axis = 1)
df.drop(['Q39_Part_1', 'Q39_Part_2', 'Q39_Part_3', 'Q39_Part_4', 'Q39_Part_5',
       'Q39_Part_6', 'Q39_Part_7', 'Q39_Part_8', 'Q39_Part_9', 'Q39_OTHER'], axis = 1, inplace = True)

In [133]:
df['Q40'] = df.apply(lambda dataframe: union(dataframe['Q40_Part_1'],dataframe['Q40_Part_2'],dataframe['Q40_Part_3'],
                                                    dataframe['Q40_Part_4'], dataframe['Q40_Part_5'], dataframe['Q40_Part_6'],
                                                    dataframe['Q40_Part_7'], dataframe['Q40_Part_8'], dataframe['Q40_Part_9'],
                                                    dataframe['Q40_Part_10'], dataframe['Q40_Part_11'], dataframe['Q40_OTHER']), axis = 1)
df.drop(['Q40_Part_1', 'Q40_Part_2', 'Q40_Part_3', 'Q40_Part_4', 'Q40_Part_5',
      'Q40_Part_6', 'Q40_Part_7', 'Q40_Part_8', 'Q40_Part_9', 'Q40_Part_10', 'Q40_Part_11', 'Q40_OTHER'], axis = 1, inplace = True)

In [135]:
df['Q42'] = df.apply(lambda dataframe: union(dataframe['Q42_Part_1'],dataframe['Q42_Part_2'],dataframe['Q42_Part_3'],
                                                    dataframe['Q42_Part_4'], dataframe['Q42_Part_5'], dataframe['Q42_Part_6'],
                                                    dataframe['Q42_Part_7'], dataframe['Q42_Part_8'], dataframe['Q42_Part_9'],
                                                    dataframe['Q42_Part_10'], dataframe['Q42_Part_11'], dataframe['Q42_OTHER']), axis = 1)
df.drop(['Q42_Part_1', 'Q42_Part_2', 'Q42_Part_3', 'Q42_Part_4', 'Q42_Part_5',
       'Q42_Part_6', 'Q42_Part_7', 'Q42_Part_8', 'Q42_Part_9', 'Q42_Part_10', 'Q42_Part_11', 'Q42_OTHER'], axis = 1, inplace = True)

In [137]:
df['Q27-B'] = df.apply(lambda dataframe: union(dataframe['Q27_B_Part_1'],dataframe['Q27_B_Part_2'],dataframe['Q27_B_Part_3'],
                                                    dataframe['Q27_B_Part_4'], dataframe['Q27_B_Part_5'], dataframe['Q27_B_Part_6'],
                                                    dataframe['Q27_B_Part_7'], dataframe['Q27_B_Part_8'], dataframe['Q27_B_Part_9'],
                                                    dataframe['Q27_B_Part_10'], dataframe['Q27_B_Part_11'], dataframe['Q27_B_OTHER']), axis = 1)
df.drop(['Q27_B_Part_1', 'Q27_B_Part_2', 'Q27_B_Part_3', 'Q27_B_Part_4',
       'Q27_B_Part_5', 'Q27_B_Part_6', 'Q27_B_Part_7', 'Q27_B_Part_8',
       'Q27_B_Part_9', 'Q27_B_Part_10','Q27_B_Part_11', 'Q27_B_OTHER'], axis = 1, inplace = True)

In [139]:
df['Q29-B'] = df.apply(lambda dataframe: union(dataframe['Q29_B_Part_1'],dataframe['Q29_B_Part_2'],dataframe['Q29_B_Part_3'],
                                                    dataframe['Q29_B_Part_4'], dataframe['Q29_B_OTHER']), axis = 1)
df.drop(['Q29_B_Part_1', 'Q29_B_Part_2', 'Q29_B_Part_3', 'Q29_B_Part_4',
       'Q29_B_OTHER'], axis = 1, inplace = True)

In [141]:
df['Q30-B'] = df.apply(lambda dataframe: union(dataframe['Q30_B_Part_1'],dataframe['Q30_B_Part_2'],dataframe['Q30_B_Part_3'],
                                                    dataframe['Q30_B_Part_4'], dataframe['Q30_B_Part_5'], dataframe['Q30_B_Part_6'],
                                                     dataframe['Q30_B_Part_7'], dataframe['Q30_B_OTHER']), axis = 1)
df.drop(['Q30_B_Part_1', 'Q30_B_Part_2', 'Q30_B_Part_3', 'Q30_B_Part_4',
       'Q30_B_Part_5', 'Q30_B_Part_6', 'Q30_B_Part_7', 'Q30_B_OTHER'], axis = 1, inplace = True)

In [143]:
df['Q31-B'] = df.apply(lambda dataframe: union(dataframe['Q31_B_Part_1'],dataframe['Q31_B_Part_2'],dataframe['Q31_B_Part_3'],
                                                    dataframe['Q31_B_Part_4'], dataframe['Q31_B_Part_5'], dataframe['Q31_B_Part_6'],
                                                     dataframe['Q31_B_Part_7'], dataframe['Q31_B_Part_8'],dataframe['Q31_B_Part_9'], 
                                                     dataframe['Q31_B_OTHER']), axis = 1)
df.drop(['Q31_B_Part_1', 'Q31_B_Part_2', 'Q31_B_Part_3', 'Q31_B_Part_4',
       'Q31_B_Part_5', 'Q31_B_Part_6', 'Q31_B_Part_7', 'Q31_B_Part_8',
       'Q31_B_Part_9', 'Q31_B_OTHER'], axis = 1, inplace = True)

In [144]:
df['Q32-B'] = df.apply(lambda dataframe: union(dataframe['Q32_B_Part_1'],dataframe['Q32_B_Part_2'],dataframe['Q32_B_Part_3'],
                                                    dataframe['Q32_B_Part_4'], dataframe['Q32_B_Part_5'], dataframe['Q32_B_Part_6'],
                                                    dataframe['Q32_B_Part_7'], dataframe['Q32_B_Part_8'], dataframe['Q32_B_Part_9'],
                                                    dataframe['Q32_B_Part_10'], dataframe['Q32_B_Part_11'], dataframe['Q32_B_Part_12'],
                                                    dataframe['Q32_B_Part_13'], dataframe['Q32_B_Part_14'], dataframe['Q32_B_Part_15'],
                                                    dataframe['Q32_B_Part_16'], dataframe['Q32_B_Part_17'], dataframe['Q32_B_Part_18'],
                                                    dataframe['Q32_B_Part_19'], dataframe['Q32_B_Part_20'], dataframe['Q32_B_OTHER']), axis = 1)
df.drop(['Q32_B_Part_1', 'Q32_B_Part_2', 'Q32_B_Part_3', 'Q32_B_Part_4',
       'Q32_B_Part_5', 'Q32_B_Part_6', 'Q32_B_Part_7', 'Q32_B_Part_8',
       'Q32_B_Part_9', 'Q32_B_Part_10', 'Q32_B_Part_11', 'Q32_B_Part_12',
       'Q32_B_Part_13', 'Q32_B_Part_14', 'Q32_B_Part_15', 'Q32_B_Part_16',
       'Q32_B_Part_17', 'Q32_B_Part_18', 'Q32_B_Part_19', 'Q32_B_Part_20',
       'Q32_B_OTHER'], axis = 1, inplace = True)

In [146]:
df['Q34-B'] = df.apply(lambda dataframe: union(dataframe['Q34_B_Part_1'], dataframe['Q34_B_Part_2'], dataframe['Q34_B_Part_3'],
                                                    dataframe['Q34_B_Part_4'], dataframe['Q34_B_Part_5'], dataframe['Q34_B_Part_6'],
                                                    dataframe['Q34_B_Part_7'], dataframe['Q34_B_Part_8'], dataframe['Q34_B_Part_9'],
                                                    dataframe['Q34_B_Part_10'], dataframe['Q34_B_Part_11'], dataframe['Q34_B_Part_12'],
                                                    dataframe['Q34_B_Part_13'], dataframe['Q34_B_Part_14'], dataframe['Q34_B_Part_15'],
                                                    dataframe['Q34_B_Part_16'], dataframe['Q34_B_OTHER']), axis = 1)
df.drop(['Q34_B_Part_1', 'Q34_B_Part_2', 'Q34_B_Part_3', 'Q34_B_Part_4',
       'Q34_B_Part_5', 'Q34_B_Part_6', 'Q34_B_Part_7', 'Q34_B_Part_8',
       'Q34_B_Part_9', 'Q34_B_Part_10', 'Q34_B_Part_11', 'Q34_B_Part_12',
       'Q34_B_Part_13', 'Q34_B_Part_14', 'Q34_B_Part_15', 'Q34_B_Part_16',
       'Q34_B_OTHER'], axis = 1, inplace = True)

In [148]:
df['Q36-B'] = df.apply(lambda dataframe: union(dataframe['Q36_B_Part_1'],dataframe['Q36_B_Part_2'],dataframe['Q36_B_Part_3'],
                                                    dataframe['Q36_B_Part_4'], dataframe['Q36_B_Part_5'], dataframe['Q36_B_Part_6'],
                                                     dataframe['Q36_B_Part_7'], dataframe['Q36_B_OTHER']), axis = 1)
df.drop(['Q36_B_Part_1', 'Q36_B_Part_2', 'Q36_B_Part_3', 'Q36_B_Part_4',
       'Q36_B_Part_5', 'Q36_B_Part_6', 'Q36_B_Part_7', 'Q36_B_OTHER'], axis = 1, inplace = True)

In [150]:
df['Q37-B'] = df.apply(lambda dataframe: union(dataframe['Q37_B_Part_1'],dataframe['Q37_B_Part_2'],dataframe['Q37_B_Part_3'],
                                                    dataframe['Q37_B_Part_4'], dataframe['Q37_B_Part_5'], dataframe['Q37_B_Part_6'],
                                                     dataframe['Q37_B_Part_7'], dataframe['Q37_B_OTHER']), axis = 1)
df.drop(['Q37_B_Part_1', 'Q37_B_Part_2', 'Q37_B_Part_3', 'Q37_B_Part_4',
       'Q37_B_Part_5', 'Q37_B_Part_6', 'Q37_B_Part_7', 'Q37_B_OTHER'], axis = 1, inplace = True)

In [152]:
df['Q38-B'] = df.apply(lambda dataframe: union(dataframe['Q38_B_Part_1'],dataframe['Q38_B_Part_2'],dataframe['Q38_B_Part_3'],
                                                    dataframe['Q38_B_Part_4'], dataframe['Q38_B_Part_5'], dataframe['Q38_B_Part_6'],
                                                    dataframe['Q38_B_Part_7'], dataframe['Q38_B_Part_8'], dataframe['Q38_B_Part_9'],
                                                    dataframe['Q38_B_Part_10'], dataframe['Q38_B_Part_11'], dataframe['Q38_B_OTHER']), axis = 1)
df.drop(['Q38_B_Part_1', 'Q38_B_Part_2', 'Q38_B_Part_3', 'Q38_B_Part_4',
       'Q38_B_Part_5', 'Q38_B_Part_6', 'Q38_B_Part_7', 'Q38_B_Part_8',
       'Q38_B_Part_9', 'Q38_B_Part_10', 'Q38_B_Part_11', 'Q38_B_OTHER'], axis = 1, inplace = True)

In [154]:
df.sample(5)

,time,age,gender,Q3,Q4,Q5,Q6,Q8,Q11,Q13,Q15,Q20,Q21,Q22,Q23,Q25,Q26,Q33,Q35,Q41,Q7,Q9,Q12,Q14,Q16,Q17,Q24,Q32,Q34,Q28,Q10,Q18,Q19,Q27-A,Q29-A,Q30-A,Q31-A,Q36-A,Q37-A,Q38-A,Q39,Q40,Q42,Q27-B,Q29-B,Q30-B,Q31-B,Q32-B,Q34-B,Q36-B,Q37-B,Q38-B
8321,1753,18-21,Man,Viet Nam,Bachelor’s degree,Student,3-5 years,Python,A laptop,Never,I do not use machine learning methods,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"SQL, C, C++","Visual Studio ,Visual Studio Code (VSCode) , O...",None,"Matplotlib ,Seaborn",NaN,NaN,NaN,NaN,NaN,NaN,Colab Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Google Cloud Platform (GCP),Google Cloud Compute Engine,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23660,388,30-34,Man,India,Doctoral degree,Research Scientist,I have never written code,NaN,NaN,NaN,NaN,Academics/Education,250-999 employees,5-9,I do not know,"1,000-1,999",$1-$99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Other,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Kaggle Learn Courses,NaN,Other,NaN,NaN,NaN,Other,Other,Other,Other,Other
15074,899,40-44,Woman,United States of America,Master’s degree,Data Scientist,3-5 years,Python,A laptop,Never,5-10 years,Academics/Education,250-999 employees,5-9,We use ML methods for generating insights (but...,"40,000-49,999",$100-$999,SQLite,NaN,Other,Python,"Visual Studio Code (VSCode) , Spyder,Jupyter N...",None,"Matplotlib ,Seaborn ,Bokeh","Scikit-learn ,Keras ,Xgboost ,LightGBM","Linear or Logistic Regression, Decision Trees ...",Analyze and understand data to influence produ...,"MySQL , PostgreSQL , SQLite , Microsoft Azure ...",Tableau,NaN,"Colab Notebooks, Paperspace / Gradient",NaN,NaN,Microsoft Azure,No / None,Google Cloud Storage (GCS),Azure Machine Learning Studio,"Automated model selection (e.g. auto-sklearn, ...",Google Cloud AutoML,Domino Model Monitor,"GitHub , Colab","Coursera, DataCamp, LinkedIn Learning","Course Forums (forums.fast.ai, Coursera forums...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16337,142,18-21,Man,India,Bachelor’s degree,Student,< 1 years,Java,A laptop,Never,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Python, C, C++, Java","PyCharm ,Jupyter Notebook",NVIDIA GPUs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
630,1262,55-59,Man,Australia,Bachelor’s degree,Other,20+ years,Python,A personal computer / desktop,Never,< 1 year,Energy/Mining,"1000-9,999 employees",10-14,We are exploring ML methods (and may one day p...,"150,000-199,999",$0 ($USD),NaN,NaN,"Local development environments (RStudio, Jupyt...","Python, SQL, Java, Other","Jupyter (JupyterLab, Jupyter Notebooks, etc) ,...",None,Seaborn,"TensorFlow ,Keras",Linear or Logistic Regression,None of these activities are an important par...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Kaggle (notebooks, forums, etc)","Amazon Web Services (AWS) , Microsoft Azure ...","Amazon Elastic Compute Cloud (EC2) , Microso...",NaN,Amazon SageMaker,NaN,NaN,NaN,NaN,Weights & Biases

In [156]:
df.to_csv('archivos_resultantes/columnas_unificadas.csv')